#stats-container{
    color: white;
}

#graph-container{
    border: 1px solid white;
    min-height: 200px;
    padding: 50px;
}

.sub-stats-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    background-color: white;
    color: black;
}

.chart-container{
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}

.sub-stats-container > p{
    font-size: 20px;
    padding: 10px;
}